CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.dbc
/.vs
/build
/out/build/x64-Debug
/cmake-build-release/
