[submodule "third_party/libxml2"]
	path = third_party/libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
[submodule "third_party/PEGTL"]
	path = third_party/PEGTL
	url = https://github.com/taocpp/PEGTL.git
[submodule "third_party/cxxopts"]
	path = third_party/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
